.countainer{
    position: relative;
    margin-top: 10px;
    padding-top: 100px;
    height: 100vh;
    color: white;
}
.add{
    position: absolute;
    top: 70px;
    z-index: 100000;
    right: 47.3vw;
}
.sub{
    position: absolute;
    top: 37vh;
    z-index: 100000;
    right: 47vw;
}
.add2{
    position: absolute;
    top: 23.5vh;
    z-index: 100000;
    right: 40vw;
}
.sub2{
    position: absolute;
    top: 23vh;
    z-index: 100000;
    left: 40vw;
}

@media screen and (max-width: 1200px) {
    .add2{
        right: 38vw;
    }
    .sub2{
        left: 38vw;
    }
  }

  @media screen and (max-width: 1050px) {
    .add2{
        right: 35vw;
    }
    .sub2{
        left: 35vw;
    }
    .add{
        right: 46vw;
    }
    .sub{
        right: 46vw;
    }
  }

  @media screen and (max-width: 850px) {
    .add2{
        right: 30vw;
    }
    .sub2{
        left: 30vw;
    }
    .add{
        right: 46vw;
    }
    .sub{
        right: 46vw;
    }
  }



  @media screen and (max-width: 700px) {
    .add2{
        right: 27vw;
    }
    .sub2{
        left: 27vw;
  }
  .add{
    right: 44vw;
}
.sub{
    right: 44vw;
}
}

@media screen and (max-width: 550px) {
    .add2{
        right: 20vw;
    }
    .sub2{
        left: 20vw;
  }
  .add{
    right: 42vw;
}
.sub{
    right: 42vw;
}
}

@media screen and (max-width: 450px) {
    .add2{
        right: 15vw;
    }
    .sub2{
        left: 15vw;
  }
  .add{
    right: 42vw;
}
.sub{
    right: 42vw;
}
}

@media screen and (max-width: 400px) {
    .add2{
        right: 12vw;
    }
    .sub2{
        left: 12vw;
  }
  .add{
    right: 40vw;
}
.sub{
    right: 40vw;
}
}

@media screen and (max-width: 350px) {
    .add2{
        right: 7vw;
        top: 23vh;

    }
    .sub2{
        left: 7vw;
        top: 23vh;
  }
  .add{
    right: 39vw;
}
.sub{
    right: 39vw;
    top: 37vh;
}
}